
#if($result.isSuccess())
	
	refresh success
	<table border="1">
		<tr>
            <td>appid</td><td>accessToken</td>
        </tr>
		#foreach($entry in ${result.result.entrySet()})
			<tr>
                <td>$!{entry.key}</td><td>$!{entry.value}</td>
            </tr>
        	
		#end	
    </table>

#else	
	
	refresh error, errorCode=$!{result.resultCode}, errorInfo=$!{result.resultInfo}
	
#end
	
